* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1edea;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-family: "Montserrat", sans-serif;
  color: #0c408b;
}

ul > li {
  margin-bottom: 20px;
}

ul > li > ul {
  list-style-type: disc;
  margin-left: 20px;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #0c408b;
}

h2 {
  text-transform: uppercase;
}

h4 {
  text-transform: capitalize;
}

/* Rounded border */

hr.rounded {
  width: 70%;
  margin: 0 auto;
  border-top: 3px solid rgba(245, 180, 172, 1);
  border-radius: 3px;
}


/* Nav Bar Header */
header {
    padding: 25px 25px;
    width: 100%;
    height: 85px;
    background-color: #e65334;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: hidden;
    box-sizing: border-box
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.header-logo {
    width: 50px;
    align-items: left;
}

.topic {
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    left: 100px;
    color: #fff;
}

/*heading image*/

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 0 0 30px 30px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* REF TAB HEADER*/ 
.referenceheader{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(245, 180, 172, 0.5), rgba(245, 180, 172, 0.5)),url(contentheader.png);
  background-position: center;
  background-size: contain;
  overflow: hidden;
  
}

.referencetext{
  width: 90%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.referencetext h1{
  font-family: 'Poppins', sans-serif;
  color: #f1edea;
  font-size: 120px;
}

/* reference list*/

.references{
  width: 80%;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 30px;
}

.references p{
  font-family: 'Open Sans', sans-serif;
  color: #d7593b; 
  font-size: 20px;
  padding: 15px 0 25px;
  text-indent: 10%;
  text-align: justify;
  text-justify: inter-word;
}


